/* 設定字型 */
@font-face{
    font-family: Ngaan;
    src:url(./font/I.Ngaan.ttf)
}

/* Reset設定 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:微軟正黑體;
    /* width: 1920px;
    height: 1280px;
    object-fit: contain; */

      
}

/* 導覽列 */
nav{
    display: grid;
    grid-template-columns:40% 60%;
    position: fixed;
    top: 30px;
    width: 100%;
    background-color:opcity;
    }

#logo span {
    font-family: Ngaan;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 50px;
    margin-left: 150px;
    color: white;
}

#nav{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 10px;
    margin-right: 100px;
    align-items: center;
    text-align: center;   
    
}

#nav a{
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 微軟正黑體;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

#nav a:hover{
    color: black;
}

#fbig{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20px;
    /* transition: 0.3s; */
}

/* #fbig a:hover{
    size: 25%;

} */

/* 橫幅 */
#banner{
    background-image: url(./img/banner.png);
    background-size: cover;
    background-position:center;
    /* 100vh 跟螢幕一樣高 100% v 螢幕 h 高度 */
    height: 100vh; 
    text-align: center;
    /* padding-top: 80px; */
}

#banner img{
    height: 75%;
    padding-top: 170px;
}

section{
    width: 1200px;
    margin: 0px auto;
}

/* news */

section h1{
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 微軟正黑體;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: 25px auto;
}

#news div{
    display: inline-block;
    /* border:1px solid black; */
    width: 300px;
    height: 420px;
    padding: 15px 20px;
    text-align: center;
    padding:0px auto;
    
}

#news > div .img{
    background-image: url(./img/drink.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 230px;
    height: 230px;
    margin-top: 5px;

}

#news div span{
    color: green;
    font-family: 微軟正黑體;
    font-size: 14px;
    letter-spacing: 5px;

}

.line1 {
    font-family: 微軟正黑體;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 5px auto;
}

.line2{
    font-family: 微軟正黑體;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 5px;
    line-height: 1.5;
    margin: 5px 7px;
    text-align: left;

}

/* 推薦飲品 */
#recommend div{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 60% 40%;

    
}

.photo{
    padding: 100px auto;
    background-image: url(./img/pinapple.png);
    background-repeat: no-repeat;
    background-size: contain ;
    /* border: 1px solid black; */
    margin: 30px 0px 30px 540px;
    height: 350px;
    /* text-align: center;
    align-items: center; */
}


.line5{
    margin-top: 35px;
    color: orange;
    font-size: 24px;
    letter-spacing: 5px
}

.line3{
    color: gray;
    font-size: 12px;
    margin: 10px 0px;
    letter-spacing: 5px
    

}


.line4{
    color: black;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 2;
    padding-right: 80px;
    margin-top: 40px;


}

#idea > div{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    letter-spacing: 5px;
    line-height: 2;
    padding-right: 20px;
    align-items: center;
}

#idea > div .pic{
    background-image: url(./img/tea.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    /* height: 400px; */
    /* width: 300px; */
    box-shadow:3px 3px 12px gray;
}

